In [7]:
arr = ['apple', 'kiwi', 'banana', 'orange']

arr[:2]  # new arr, orig arr untouched
arr

['apple', 'kiwi']

['apple', 'kiwi', 'banana', 'orange']

In [9]:
list(reversed(arr))

['orange', 'banana', 'kiwi', 'apple']

In [14]:
type(['apple', 'banana', 'kiwi', 'apple'])
type({'apple', 'banana', 'kiwi', 'apple'})
type({'age': 20, 'salary': 10000})

list

set

dict

In [21]:
name, age, place = ['rahul', 22, 'hbh']

name, age, place

('rahul', 22, 'hbh')

In [3]:
def greet(name, age, place):
  print(f'hello {name}, from {place}')


greet('rahul', 20, 'hbh')  # positional args
greet(age=20, place='hbh', name='cmd')  # keyword args

hello rahul, from hbh
hello cmd, from hbh

In [1]:
employees = [
    {"Name": "John Doe", "Salary": 60000},
    {"Name": "Jane Smith", "Salary": 55000},
    {"Name": "Michael Johnson", "Salary": 48000}
]

result = []
salary_threshold = 50000

for emp in employees:
    if emp["Salary"] > salary_threshold:
        result.append(emp["Name"])

print(result)

['John Doe', 'Jane Smith']

SELECT Name
FROM Employees
WHERE Salary > 50000