In [9]:
/* 
Higher Order Function: A function that takes a function as an argument or returns a function as its result.
e.g. myFunc

Closure: A function that captures the lexical scope in which it was created, allowing it to remember the environment in which it was defined.
e.g. welcomeToCountry
*/

function myFunc(country) {
  console.log(`${country} inside myFunc`);

  return function welcomeToCountry(myName) {
    return `hello ${myName}, you are very welcome to ${country}`;
  };
}

let welcomeToJapan = myFunc('Japan');
let welcomeToChina = myFunc('China');

welcomeToJapan('Vishnu');

Japan inside myFunc
China inside myFunc

"hello Vishnu, you are very welcome to Japan"

- call(context, ...argsArr)
- apply(context, argsArr)

In [ ]:
const person = {
  firstName: 'John',
  lastName: 'Doe',
  fullName: function () {
    return `${this.firstName} ${this.lastName}`;
  },
};

console.log(person.fullName());
console.log(person.fullName.call({ firstName: 'Jane', lastName: 'Smith' }, 10, 20));
console.log(person.fullName.apply({ firstName: 'Jane', lastName: 'Smith' }, [10, 20]));

John Doe
Jane Smith
Jane Smith

In [8]:
const person = {
  firstName: 'John',
  lastName: 'Doe',
  fullName: function () {
    return `${this.firstName} ${this.lastName}`;
  },
};

console.log(person.fullName());

const fullNameBound = person.fullName.bind({ firstName: 'Jane', lastName: 'Smith' });
console.log(fullNameBound());

John Doe
Jane Smith

In [2]:
undefined + undefined;

NaN

In [1]:
const obj = {
  principal: 0,
  rate: 0,
  time: 0,
  finalAmount: this.principal + this.rate,
};

obj;

{ principal: 0, rate: 0, time: 0, finalAmount: NaN }

In [5]:
let student1 = {
  name: 'vidu',
  age: 22,
  salary: 10000,
};

let student2 = student1;

student1.name = 'paru';

console.log(student1);
console.log(student2);
console.log(student1 === student2);

{ name: "paru", age: 22, salary: 10000 }
{ name: "paru", age: 22, salary: 10000 }
true

In [6]:
let student1 = {
  name: 'vidu',
  age: 22,
  salary: 10000,
};

let student2 = {
  name: 'vidu',
  age: 22,
  salary: 10000,
};

student1.name = 'paru';

console.log(student1);
console.log(student2);
console.log(student1 === student2);

{ name: "paru", age: 22, salary: 10000 }
{ name: "vidu", age: 22, salary: 10000 }
false

In [7]:
let student1 = {
  name: 'vidu',
  age: 22,
  salary: 10000,
};

let student2 = { ...student1 };

student1.name = 'paru';

console.log(student1);
console.log(student2);
console.log(student1 === student2);

{ name: "paru", age: 22, salary: 10000 }
{ name: "vidu", age: 22, salary: 10000 }
false

In [20]:
let student = {
  name: 'vidu',
  age: 20,
  address: {
    city: 'vijayanagara',
    village: 'hbh',
    printAddressInfo() {
      console.log(this.city, this.village);
    },
  },
};

student.address.printAddressInfo(); // works

let coolAddress = student.address;

coolAddress.printAddressInfo(); // works

let coolFunc = student.address.printAddressInfo;

// coolFunc(); // fails

coolFunc.call({
  city: 'indore',
  village: 'xyz',
}); // calling with context

coolAddress === student.address;

vijayanagara hbh
vijayanagara hbh
indore xyz

true